<!DOCTYPE html>
<html ng-app="todoApp">

	<head>
		<meta charset="UTF-8">
		<title>WEB 版数据可视化工具</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
		<script src="js/jquery-2.2.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var model = {
				user: "我的"
			};
			var todoApp = angular.module("todoApp", []);
			todoApp.filter("checkedItems", function() {
				return function(items, showComplete) {
					var resultArr = [];
					angular.forEach(items, function(item) {
						if(item.done == false || showComplete == true) {
							resultArr.push(item);
						}
					});
					return resultArr;
				}
			});
			todoApp.run(function($http) {
				$http.get("todo.json").success(function(data) {
					model.items = data;
				});
			});
			todoApp.filter("checkedItems", function() {
				return function(items, showComplete) {
					var resultArr = [];
					angular.forEach(items, function(item) {
						if(item.done == false || showComplete == true) {
							resultArr.push(item);
						}
					});
					return resultArr;
				}
			});
			todoApp.controller("ToDoCtrl", function($scope) {
				$scope.todo = model;
				$scope.data = {};
				$scope.incompleteCount = function() {
					var count = 0;
					angular.forEach($scope.todo.items, function(item) {
						if(!item.done) {
							count++
						}
					});
					return count;
				}
				$scope.warningLevel = function() {
					return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
				}
				$scope.addNewItem = function(actionText) {
					if(actionText.length != 0) {
						$scope.todo.items.push({
							action: actionText,
							done: false
						});
					}
				}
			});
		</script>
	</head>

	<body ng-controller="ToDoCtrl">
		<div class="container">
			<div class="flex">
				<div class="my-top">
					<p class="text-success h1"> 基于 Leap Motion 的数据可视化互动工具</p>
				</div>
				<div class="my-main">
					<div class="my-left">
						<small style="text-align: center;" class="text-primary"><span class="glyphicon glyphicon-info-sign"></span>点击图表</small>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/three1.html">
									<img class="media-object img-circle" src="img/three.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">三维柱状图</h4>
								<p> 这个图形的作用...</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/bar.html">
									<img class="media-object img-circle" src="img/bar1.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body ">
								<h4 class="media-heading">柱形图</h4>
								<p>利用柱子的高度，反映数据的差异.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/Bar-Column.html">
									<img class="media-object img-circle" src="img/3bar1.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">2D/3D条形柱状图</h4>
								<p> 立体效果更符合视觉习惯.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/MScolumn-bar.html">
									<img class="media-object img-circle" src="img/chart.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">多维2D/3D 条形柱状图</h4>
								<p> 利于比较多维数据.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/line.html">
									<img class="media-object img-circle" src="img/line.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">折线图</h4>
								<p>适合那些趋势比单个数据点更重要的场合.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/pie.html">
									<img class="media-object img-circle" src="img/pie.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">饼图</h4>
								<p>反映某个部分占整体的比重</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left media-middle">
								<a href="src/scat.html">
									<img class="media-object img-circle" src="img/scat.png" width="64px" height="64px">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">散点图</h4>
								<p>适用于三维数据集，但其中只有两维需要比较</p>
							</div>
						</div>

					</div>
					<div class="my-right">
						<div id="tabs">
							<ul>
								<li>
									<a href="#tabs-1">首页</a>
								</li>
								<li>
									<a href="#tabs-2">文档API</a>
								</li>
								<li>
									<a href="#tabs-3">LeapMotion</a>
								</li>
								<li>
									<a href="#tabs-4">数据可视化</a>
								</li>
								<li>
									<a href="#tabs-5">在线版</a>
								</li>
								<li>
									<a href="#tabs-6">关于</a>
								</li>
								<li>
									<a href="#tabs-7">欣赏</a>
								</li>
								<li>
									<a href="#tabs-8">待办事项</a>
								</li>
								<!--<li><a href="#tabs-9">设置</a></li>-->
							</ul>
							<div id="tabs-1">
								<div class="jumbotron">
									<h3>Leap Motion</h3>

									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计交互式的多媒体自助服务终端，或者将它和你的键盘、鼠标结合使用<br /><br /><br /></p>
								</div>
								<hr />
								<p> </p>
								<div class="jumbotron jumbotron1">
									<br /><br /><br /><br /><br />
									<h3>数据可视化</h3>

									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据可视化主要是借助于图形化手段，清晰有效地传达与沟通信息
										<br /><br /><br /><br /><br /><br /></p>
								</div>

							</div>
							<div id="tabs-2">
								<h3>使用说明</h3>
								<p>本文档主要介绍交互手势和数据源的结构.</p>
								<ul class="list-group">
									<li class="list-group-item">1.了解每一个图形的数据结构</li>
									<li class="list-group-item">2.选择最合适的图形展现数据</li>
									<li class="list-group-item">3.为自己的图形设置样式</li>
									<li class="list-group-item">4.扩展该工具</li>
									<li class="list-group-item">5.了解手势的原理</li>
									<li class="list-group-item">6. 能正确操作图形</li>
									<li class="list-group-item">7.自定义设计手势</li>
								</ul>
								<span class="glyphicon glyphicon-text-size"></span>
								<a href="src/doc.html" class="h1 text-success">点击打开...</a>

							</div>
							<div id="tabs-3">
								<img src="img/lpmbg.jpg" / width="100%" height="500px">
								<ol>
									<li>Leap Motion是面向PC以及Mac的体感控制器制造公司Leap于2013年2月27日发布的体感控制器

									</li>
									<li>2014年8月30日正式登陆中国，中文名为“厉动”</li>
									<li>Leap Motion 控制器不会替代您的键盘、鼠标、手写笔或触控板，相反，它与它们协同工作。</li>
									<li>当Leap Motion软件运行时只需将它插入您的 Mac 或 PC 中，一切即准备就绪。 只需挥动一只手指即可浏览网页、阅读文章、翻看照片，还有播放音乐。 即使不使用任何画笔或笔刷，用您的指尖即可以绘画，涂鸦和设计。
									</li>
									<li>Leap Motion 控制器以超过每秒 200 帧的速度追踪您的手部移动，这就是屏幕上的动作与您的每次移动完美同步的原因。</li>

								</ol>
							</div>
							<div id="tabs-4">
								<img src="img/datav.jpg" width="100%" height="500px" />
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据可视化主要旨在借助于图形化手段，清晰有效地传达与沟通信息。但是， 这并不就意味着，数据可视化就一定因为要实现其功能用途而令人感到枯燥乏味， 或者是为了看上去绚丽多彩而显得极端复杂。为了有效地传达思想概念，美学形式 与功能需要齐头并进，通过直观地传达关键的方面与特征，从而实现对于相当稀疏而 又复杂的数据集的深入洞察。然而，设计人员往往并不能很好地把握设计与功能之间的 平衡，从而创造出华而不实的数据可视化形式，无法达到其主要目的，也就是传达与沟通 信息。 数据可视化与信息图形、信息可视化、科学可视化以及统计图形密切相关。当 前，在研究、教学和开发领域，数据可视化乃是一个极为活跃而又关键的方面。“数据可视 化”这条术语实现了成熟的科学可视化领域与较年轻的信息可视化领域的统一。

								</p>
							</div>
							<div id="tabs-5" class="text-danger">
								<p> 连接数据库实时展现数据的变化.</p>
								<a href="http://localhost/fusion_charts/index.html" class="h1 text-danger">点击此处实时观测数据情况</a>
								<img src="img/sd.png" />
							</div>
							<div id="tabs-6">
								<p>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;leap Motion的主要原理是使用红外LED+灰阶camera的方式才采集数据，并生成3D数据。 这样的技术并不算新鲜，但Leap的优势是在软件方面，当然由于使用了红外LED+灰阶camera，成本也会更便宜一些。由于只处理手部的3D，不像现在Kinect需要生成全身skeleton, 复杂的depth信息，Leap的运行效率自然也会高很多，对处理图形的DSP要求也不会特别高。 Kinect的技术是用激光+camera的方式实现3D建模。其实两者的实现的总的方式是差不多的，无非是技术使用以及算法上面的区别。如果Leap的技术做远距离的，性能就不会有现在的那么好了。
									<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leap Motion除了开发桌面应用程序外，现阶段也加入了虚拟现实的研究，并且取得了不晓得成就，在未来我相信leap motion 会越来越流行起来的。
									<br />
									<img src="img/Leap_VR_Mount.png" />

								</p>
							</div>
							<div id="tabs-7">
								<div class="frow">
									<a href="#" class="thumbnail">
										<img src="img/hileap.jpeg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/leap.png" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/leap0.jpeg" alt="...">
									</a>
								</div>
								<div class="frow">
									<a href="#" class="thumbnail">
										<img src="img/leap1.png" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/leapimg.jpeg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/Product-Leap-Front.png" alt="...">
									</a>
								</div>
								<div class="frow">
									<a href="#" class="thumbnail">
										<img src="img/lpbg1.jpg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/hileap.jpeg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/lpmbg.jpg" alt="...">
									</a>
								</div>
								<div class="frow">
									<a href="#" class="thumbnail">
										<img src="img/lp3d.jpg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/lph.jpeg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/lph1.jpeg" alt="...">
									</a>
								</div>
								<div class="frow">
									<a href="#" class="thumbnail">
										<img src="img/AndroidConnection.png" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/Cyberscience_Tutorial.jpg" alt="...">
									</a>
									<a href="#" class="thumbnail">
										<img src="img/Leap_VR_Mount.png" alt="...">
									</a>
								</div>
							</div>
							<div id="tabs-8">
								<div class="page-header">
									<h1>
            {{todo.user}}待办事项
            <span class="label label-default" ng-class="warningLevel()"
                  ng-hide="incompleteCount() == 0">
                {{incompleteCount()}}
            </span>
        </h1>
								</div>
								<div class="panel">
									<div class="input-group">
										<input class="form-control" ng-model="actionText" />

										<button ng-click="addNewItem(actionText)"> 添加</button>
									</div>

									<table class="table table-striped">
										<thead>
											<tr>
												<th>待办事项</th>
												<th>完成</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
												<td>{{item.action}}</td>
												<td><input type="checkbox" ng-model="item.done" /></td>
											</tr>
										</tbody>
									</table>

									<div class="checkbox-inline">
										<label><input type="checkbox" ng_model="showComplete"> 显示完成事项</label>
									</div>
								</div>
							</div>
							<!--<div id="tabs-9">
								<ul class="list-group">
									<li class="list-group-item">1.界面设置<br />
										<div class="well">
											<div class="radio">
											<label><input type="radio" name="theme" ng-ngmodel="bool1">主题一</label><br />
											<label><input type="radio" name="theme" ng-ngmodel="bool2">主题二</label><br />
											<label><input type="radio" name="theme" ng-ngmodel="bool3">主题三</label>
										</div>
										</div>
										

									</li>
									<li class="list-group-item">2.数据源设置<br />
										<div class="well">
											<div class="radio">
											<label><input type="radio" name="datas">JSON</label><br />
											<label><input type="radio" name="datas">XML</label>
											
										</div>
										</div>
									</li>
									<li class="list-group-item">3.ACTION设置 <br />
										<div class="well">
											...
										</div>
									</li>
									<li class="list-group-item">4.手势设置<br />
										<div class="well">
											<div class="checkbox">
											<label><input type="checkbox">禁用</label>
										</div>
										</div>
									</li>
								</ul>
							</div>-->
						</div>

					</div>
				</div>

				<div class="my-foot">
					<footer>
						<p> &copy; jimmy </p>
						<p><time pubdate datetime="2016-05-01"></time></p>
					</footer>
				</div>

			</div>

		</div>
	</body>

</html>