body {
	background-color: lightgray
}
.container{
	border: 1px solid;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.gesture{
	margin-left: 150px;
	margin-right: 180px;
}
