body{
	background-color:  #FFFFFF
}
.container{
	border: 1px solid;
	border-radius: 5px;
	padding: 0;
	background-color: #FFFFFF
}
.flex{
	display: flex;
	flex-direction: column;
	width: 100%;
	/*background-color: blue;*/
	height: 900px;
}
.my-top{
	flex: 0.8;
	/*background-color: lightgray;*/
	display: flex;
	font-size: xx-large;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid;
	justify-content: center;
	align-items: center;
	
	
}
.my-main{
	flex: 9;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	
}
.my-left{
	margin-top: 10px;
	flex: 2;
	border-right: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	/*height: 700px;*/
}
.my-right{
	flex:7 ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
}
#tabs ul{
	background-color: #FFFFFF;
	border:none;
}
#tabs{
	background-color: #FFFFFF
}
.jumbotron{
	height: 600px;
	background-image: url(../img/lpbg1.jpg);
	background-size: 100% 600px;
	/*background-size: cover;*/
	color:  #4CAE4C;
}
.jumbotron1{
	background-image: url(../img/dv.jpg);
	background-size: cover;
	color:  springgreen;
}
.my-foot{
	flex: 0.8;
	/*background-color: yellow;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#tabs-7{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.frow{
	display: flex;
	flex-direction: row;
	
}
.frow a{
	flex: 1;
}
