body{
	margin: 0;
	padding: 0;
	background-color: #d8d8d8;
}
canvas{
	border: 1px solid royalblue;

}
div{
	text-align: center;
	
}
.jumbotron{
	color: white;
	margin: -50px;
}
.container{
	margin-top: 55px;
}
.table{
	border-radius: 10px;
}
input{
	border-radius: 10px;
}



